<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title ?? app_name }}</title>
  </head>
  <body>
    <main>{{{ await $slots.main() }}}</main>
    <footer>{{ app_name }}/{{ app_env }}</footer>
  </body>
</html>
